<!-- https://www.geeksforgeeks.org/how-to-use-ngfor-to-make-a-dropdown-in-angular-from-an-array/ -->
<div class="row" *ngFor="let adapterInfo of adapterData">

  <div class="accordionHeader" onclick="accordion(this)"><h4>{{adapterInfo.adapterName}}</h4></div>

    <div class="accordionPanel" style="display: none;">

      <nav>
  
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">General</button>

          <button class="nav-link" id="nav-diagnostics-tab" data-bs-toggle="tab" data-bs-target="#nav-diagnostics" type="button" role="tab" aria-controls="nav-diagnostics" aria-selected="false">Diagnostics</button>

          <button class="nav-link" id="nav-teaming-tab" data-bs-toggle="tab" data-bs-target="#nav-teaming" type="button" role="tab" aria-controls="nav-teaming" aria-selected="false">Teaming</button>

          <button class="nav-link" id="nav-vlans-tab" data-bs-toggle="tab" data-bs-target="#nav-vlans" type="button" role="tab" aria-controls="nav-vlans" aria-selected="false">VLANs</button>

        </div>

      </nav>

      <div class="tab-content" id="nav-tabContent">

        <!-- TAB START -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

          <div id="expTabCols" class="col-12 col-md-12 col-lg-12">
    
            <div class="row">

                <div class="ht_8 col-12 col-md-3 col-lg-2">
              
                  Bus Type<br>
                  <b>{{adapterInfo.busType}}</b>

                </div> 

                <div class="ht_8 col-12 col-md-3 col-lg-2">
            
                  Driver Name<br>
                  <b>{{adapterInfo.driverName}}</b>
            
                </div> 

                <div class="ht_8  col-12 col-md-3 col-lg-2">
            
                  Driver Version<br>
                  <b>{{adapterInfo.driverVer}}</b>
            
                </div> 

                <div class="ht_8 col-12 col-md-3 col-lg-2">
              
                  ETrackID<br>
                  <b>{{adapterInfo.eTrackID}}</b>
              
                </div> 
        
                <div class="ht_8 col-12 col-md-3 col-lg-2">
              
                  Location<br>
                  <b>{{adapterInfo.location}}</b>
              
                </div>  

                <div class="ht_8 col-12 col-md-3 col-lg-2">
              
                Media Type<br>
                  <b>{{adapterInfo.medType}}</b>
              
                </div>  

                <div class="ht_8 col-12 col-md-3 col-lg-2">
              
                  Negotiated Link Speed<br>
                  <b>{{adapterInfo.negLinkSpd}}</b>
              
                </div>  

                <div class="ht_8 col-12 col-md-3 col-lg-2">
              
                  Negotiated Link Width<br>
                  <b>{{adapterInfo.negLinkWdth}}</b>
              
                </div>  

                <div class="ht_8 col-12 col-md-3 col-lg-2">
              
                  Part Number<br>
                  <b>{{adapterInfo.prtNum}}</b>
              
                </div>  

                <div class="ht_8 col-12 col-md-3 col-lg-2">
              
                  Permanent Ethernet Address<br>
                  <b>{{adapterInfo.permEthAdd}}</b>
              
                </div>  

                <div class="ht_8 col-12 col-md-3 col-lg-2">
              
                  Port<br>
                  <b>{{adapterInfo.port}}</b>
              
                </div>

              </div>
              <!-- row closer -->
              
            </div>
            <!-- <div id="expTabCols" class="col-9 col-md-9 col-lg-9"> closer -->

            <div id="expHelpCol" class="col-12 col-md-12 col-lg-12 ht_8 mb-3">
  
              <fa-icon class="cursorPointer" onclick="accordion(this)" [icon]="faCircleQuestion" style="color:blue; "></fa-icon>
                  
              <div id="expHelpContent" class="accordionPanel" style="display: none;" [innerHTML]="adapterInfo.helpInfo"></div>
                       
            </div>
            <!-- class="col-3 col-md-3 col-lg-3 ht_16"> closer -->

        </div>
        <!-- TAB END -->

        <!-- TAB START -->
        <div class="tab-pane fade" id="nav-diagnostics" role="tabpanel" aria-labelledby="nav-diagnostics-tab">
          
          Diagnostics Content...
          <br>
          <br>       
          <br>
          <br>      
          <br>
          <br>      
        </div>
        <!-- TAB END -->        

        <!-- TAB START -->
        <div class="tab-pane fade" id="nav-teaming" role="tabpanel" aria-labelledby="nav-teaming-tab">
 
          <div class="cursorPointer" (click)="expandDynamicAside('createTeam')" onclick="accordion(this)">

            <fa-icon class="" [icon]="faPlusCircle" style="color:blue;"></fa-icon>
            <b> Create Team</b>
            <br>
            <br>

          </div>

          <div class="accordionPanel" style="display: none;">

            Create Team Content
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
          </div>       
          <br>       
          <br>
          <br>      
          <br>
          <br>   
            
        </div> 
        <!-- TAB END -->

        <!-- TAB START -->
        <div class="tab-pane fade" id="nav-vlans" role="tabpanel" aria-labelledby="nav-vlans-tab">
          
          VLANs Content...
          <br>
          <br>       
          <br>
          <br>      
          <br>
          <br>   
        
        </div>
        <!-- TAB END -->

      </div>
      <!-- <div class="tab-content" id="nav-tabContent"> TAB CONTENT WRAPPER CLOSER -->
  
    </div>
    <!-- accordionPanel closer -->
  
</div>
<!-- <div class="row" *ngFor="let adapterInfo of adapterData"> row closer -->